#!/usr/bin/env xdg-open

[Desktop Entry]
Categories=Office;Network;Email;
Comment=Simple configuration for mutt
Exec=/home/user/setup_mutt.sh
Icon=mutt
Name=Setup_mutt
Terminal=false
Type=Application
